<!-- Please remove this file from your project -->
<template>
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-6">

            <p>new User </p>
            <b-form>
                <b-form-group id="input-group-1" label="name:" label-for="input-1" description="">
                    <b-form-input id="input-1" v-model="Name" type="text" placeholder="Enter name" required></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Your family:" label-for="input-2">
                    <b-form-input id="input-2" v-model="Family" placeholder="Enter family" required></b-form-input>
                </b-form-group>

                <a @click="SaveNewUser" class="btn btn-success">save new user</a>

            </b-form>
        </div>
        <div class="col-lg-6">
            <p>new Transation </p>
            <b-form v-if="getlistUser">

                <b-form-select v-model="Pid" :options="teams"></b-form-select>
                <p> Pid : {{Pid}} </p>
                <b-form-group id="input-group-1" label="T date:" label-for="input-1" description="">
                    <VueCtkDateTimePicker v-model="Tdate" />

                </b-form-group>
                <b-form-group id="input-group-1" label="price:" label-for="input-1" description="">
                    <b-form-input id="input-1" v-model="Price" type="number" placeholder="Enter price" required></b-form-input>
                </b-form-group>
                <a @click="SaveNewTransation" class="btn btn-success">Save New Transation</a>

            </b-form>
        </div>
        <div class="clearfix"> </div>
        <div class="col-lg-6">

            <b-table striped hover :items="getlistUser"></b-table>

        </div>
        <div class="col-lg-6">

            <b-table striped hover :items="getListTransactions"></b-table>

        </div>
    </div>

</div>
</template>

<style>
.container {
    background: #eee;
}
</style>

<script>
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

export default {
    components: {
        'VueCtkDateTimePicker': VueCtkDateTimePicker
    },
    data() {
        return {

            Name: '',
            Family: '',
            Pid: 0,
            Tdate: '',
            Price: 0,
            listTransaction: [],
            teams: [],

        }
    },
    computed: {

        getlistUser() {
            var data = this.$store.getters.getListUser;
              this.teams=[];
            if (data) {
                for (let index = 0; index < data.length; index++) {
                    this.teams.push({
                        value: data[index].pid,
                        text: data[index].name + data[index].family
                    });
                }
                return data;
            }
        },

        getListTransactions() {
            var data = this.$store.getters.getListTransactions;
            if (data) {
                return data;
            }
        },
    },
    created() {

        this.$store.dispatch("FillListUser");
        this.$store.dispatch("FillListTransactions");
        this.GetListTransaction();
    },
    methods: {

          SaveNewUser() {
            this.$store.dispatch('SaveNewUser', {
                Name: this.Name,
                Family: this.Family
            }).then(()=>{

                this.$store.dispatch("FillListUser");
            });
              this.$store.dispatch("FillListUser");

        },
        SaveNewTransation() {
            this.$store.dispatch("SaveNewTransation", {
                Price: parseFloat(this.Price), //intpa this.Price,
                Tdate:  this.Tdate,

                Pid: this.Pid
            }).then(()=>{
                this.$store.dispatch("FillListTransactions");
            })
            this.$store.dispatch("FillListTransactions  ");
        },

        async GetListTransaction() {

            try {

                const ip = await this.$axios.$get('/Transactions')
                this.listTransaction = ip

            } catch (e) {
                // this.$toast.global.my_error() //Using custom toast
                this.$toast.error('Error')
            }
        },

    },
    watch: {

    },
}
</script>
